.App {
  padding: 25px;
  background-color: #F2F2F2;
}

.box {
  background-color: white;
  padding: 40px 50px 40px 50px;
  margin-bottom: 25px;
  box-shadow: 0 10px 6px -6px #C4C4C4;
}

p.title {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
}

p.title i {
  margin-right: 10px;
  color: dodgerblue;
}

.intro {
  height: 230px;
}

.intro .text {
  width: 42%;
  height: 100px;
  margin-top: 15px;
  display: inline-block;
  position: absolute;
}

.intro h1 {
  font-size: 40px;
  font-weight: 900;
}

.intro p {
  font-size: 20px;
  font-weight: 300;
}

.intro .profile-img {
  background-image: url('./profile.jpg');
  background-size: 150px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  box-shadow: 0 0 10px #DBDBDB;
  margin-right: 40px;
  display: inline-block;
}

.profile {
  height: auto;
}

.profile p.introduce {
  color: #8A8A8A;
  line-height: 25px;
  margin-bottom: 25px;
  /*font-style: italic;*/
}

.profile span.details {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.profile ul {
  padding-left: 0px;
  margin-top: 10px;
}

.profile li {
  list-style: none;
  line-height: 30px;
}

.profile li span.info-label {
  width: 50px;
  display: inline-block;
  color: gray;
}

@media screen and (max-width: 540px) {
  .App {
    padding: 0px;
  }

  .intro {
    height: 210px;
  }

  .intro .text {
    width: 48%;
  }

  .intro .profile-img {
    margin-right: 20px;
  }

  .box {
    padding: 30px 20px 30px 20px;
  }

  .intro h1 {
    font-size: 30px;
  }

  .intro p {
    font-size: 15px;
  }

  .profile li {
    font-size: 13px;
  }

  .profile li span.info-label {
    width: 40px;
  }
}
